body{
    height: 100vh;
}
.top-header{
    height: 40%;
}

.header-title{
    height: 100%;
}

.top-content{
    height: 40%;
    background-color: skyblue;
}

.top-footer{
    height: 20%;
}

.title-name{
    font-size: 700%;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.icon:hover{
    color: pink;
    cursor: pointer;
}