body{
    height: 100vh;
}
.top-header-colour{
    height: 40%;
}

.header-title{
    height: 100%;
}

.top-content{
    height: 50%;
    background-color: black;
    color: white;
}

.top-footer{
    height: 10%;
}

.name{
    font-size: 700%;
    font-family: 'Big Shoulders Stencil Text', cursive;
}